.panda-bg-info {
    background-color: rgb(252, 234, 232);
}

.categories img {
    width: 100px;
}

.panda-btn-buy-now {
    background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 19, 111) 100%);
    color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 8px;
    padding: 9px 25px;
}